body {
    text-align: center;
}

/* id="camera" đây là dòng chú thích*/
#camera{
    border : solid 3px blue;
    width: 320px;
    height: 240px;
}
/* id="btn" đây là dòng chú thích*/ 
.btn{
    width: 100px;
}

#dTest {
    border: solid 1px #000000;
    margin: 100px 0 0 0 ;
    padding: 20px 0 20px 0 ;
}

#dTest span{
    font-weight: bold;
    font-size: 20px;
    color: blue;
    border: solid 1px yellowgreen;
    background-color: aqua; 
}
#dTest a{
    color: green;
}